body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --mdc-theme-primary: #2196f3;
  --mdc-theme-secondary: #ff9100;
  /* --mdc-theme-on-primary: white;
  --mdc-theme-text-on-primary: white;

  --mdc-theme-background: #282828;

  --mdc-theme-on-secondary: #969696;

  --mdc-theme-surface: #282828;
  --mdc-theme-on-surface: #969696; */
}
